body {
    background: black;
    color: #fff;
    text-align: center;
}

.marginDiv {
    margin-right: 100px;
    margin-left: 100px;
}

a {
    color: white;
}

.startScouting {
    display: block;
    margin: 0 auto;
    margin-top: auto;
    font-size: 30px;
    padding: 1.4rem 1rem 1.4rem 1rem;
    border: none;
    border-radius: 5px;
    background: rgb(0, 162, 255);
    color: white;
    cursor: pointer;
    animation: animate 3s linear infinite;
}

.startScouting:hover {
    background: rgb(0, 132, 255);
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgb(35, 137, 232, .7);
    }
    40% {
        box-shadow: 0 0 0 50px rgb(35, 137, 232, 0);
    }
    80% {
        box-shadow: 0 0 0 50px rgb(35, 137, 232, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(35, 137, 232, .3);
    }
}

select {
    background: rgb(0, 162, 255);
    color: white;
    font-size: 28px;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
}