h1 {
    font-size: 30px;
    left: 50%;
}

h2 {
    position: fixed;
    font-size: xx-large;
    left: 50%;
}

.up {
    position: fixed;
    bottom: 5px;
    left: 80%;
    width: 50px;
    margin-left: -25px;
} 