.div{
    position: relative;
    border: 10px solid black;
    width: 10px;
    height: 250px;
 }

 .button {
     font-size: xx-large;
     border: 10px solid red;
     position: fixed;
     bottom: 10px;
     left: 88%;
     width: 200px;
     height: 100px;
     margin-left: -25px;
 }
 
 select {
     font-size: 20px;
     position: relative;
     display: inline-block;
     border: 10px solid red;
     width: 200px;
     height: 100px;
     left: 36.7%;
 }

 h3 {
     position:relative;
     left: 36.35%;
     bottom: -10px;
     font-size: 25px;
 }

 