.div{
    position: relative;
    border: 10px solid black;
    width: 10px;
    height: 250px;
 }

#Dropdown{
    position: fixed;
    left: 35%;
}

 .button {
    font-size: xx-large;
    border: 10px solid red;
    position: fixed;
    bottom: 10px;
    left: 80%;
    width: 200px;
    height: 100px;
    margin: 25px;
 }
 
 select {
    font-size: 20px;
    border: 10px solid red;
    width: 200px;
    height: 100px;
 }

 h3 {
    position:relative;
    bottom: -10px;
    font-size: 25px;
 }

 