<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="PostMatch.css">
<link rel="stylesheet" href="PostMatch.js">
</head>
<body bgcolor="black">

<div class="sidebar">
    <a href="#home">Welcome</a>
    <a href="#news">Home</a>
    <a href="#contact">Pre-Match</a>
    <a class="active" href="PostMatch.html">Post-Match</a>
</div>

<div style="text-align: center" class="content">

    <h1 style="color: red">Post-Match</h1>

    <h2 style="color: red">
    <div id="Box1">
        <p>Climber Speed</p>
        <select id="Climber Speed" name="Climber Speed" style="color: black">
            <option value="Didn't Climb">Didn't Climb</option>
            <option value="Slow">Slow</option>
            <option value="Average">Average</option>
            <option value="Fast">Fast</option>
        </select>

        <p>Stability Alone</p>
        <select id="Stability Alone" name="Stability Alone" style="color: black">
            <option value="Not very Stable">Not very Stable</option>
            <option value="Pretty Stable">Pretty Stable</option>
            <option value="Super Stable">Super Stable</option>
        </select>

        <p>Stability With Other Bots</p>
        <select id="Stability" name="Stability" style="color: black">
            <option value="Not very Stable" >Not very Stable</option>
            <option value="Pretty Stable">Pretty Stable</option>
            <option value="Super Stable">Super Stable</option>
        </select>
    </div>
    </h2>

    <div id="Box2">
        <h2 style="color: red" style="text-align: center" class="content">Comments</h2>

        <p>
            
        </p>
    </div>

</div>

</body>
</html>