<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="welcome.css">
    <title>Document</title>
</head>
<html>
    <head>
        <title>Spalding Scouting App</title>
    </head>
    <body>
        <body style="background-color:black;"></body>
        <Font COLOR="red"> 
        <h1 style="text-align:center;">Welcome</h1>
        <h2 style="text-align:center;">To The Spalding Scouting App Experience!</h2>
        <h3>Select Scouting Type And Scouter Here</h3>
        <button class="button">Next</button>
        <select class=”dropdown”>
            <option data-placeholder=”true”>Scouting Type</option>
            <option value=”matchscouting”>Match Scouting</option>
        </select>
    
    
        <select class=”dropdown2”>
            <option data-placeholder=”true”>Scouter</option>
            <option value=”matchscouting”>Brandon Park</option>
            <option value=”matchscouting”>John Stumpf</option>
            <option value=”matchscouting”>Rabert Ladd</option>
            <option value=”matchscouting”>Joshua Webb</option>
            <option value=”matchscouting”>Jonah Abellano</option>
            <option value=”matchscouting”>Arianna Camper</option>
            <option value=”matchscouting”>Matthew Kearney</option>
            <option value=”matchscouting”>Gavin Flynn</option>
            <option value=”matchscouting”>Max Haynes</option>
            <option value=”matchscouting”>Kate Obara</option>
            <option value=”matchscouting”>Logan Newman</option>
            <option value=”matchscouting”>Michael Hinrichs</option>
            <option value=”matchscouting”>Brennen Collins</option>
            <option value=”matchscouting”>Christian Jenson</option>
            <option value=”matchscouting”>Harjachak Singh</option>
            <option value=”matchscouting”>Colby Rich</option>
            <option value=”matchscouting”>Thomas Gardiner</option>
            <option value=”matchscouting”>Aubrie Lisiewski</option>
            <option value=”matchscouting”>Christina Tremper</option>
            <option value=”matchscouting”>Nicholas Korsnick</option>
            <option value=”matchscouting”>Dylan Meacham</option>
            <option value=”matchscouting”>Eric Herberich</option>
            <option value=”matchscouting”>Jacob Phelps</option>
            <option value=”matchscouting”>Grace Stifflemire</option>
            <option value=”matchscouting”>Ryan Wood</option>
            <option value=”matchscouting”>Dylan Newby</option>
            <option value=”matchscouting”>Andrew Phelps</option>
            <option value=”matchscouting”>Adam Kratzer</option>
            <option value=”matchscouting”>Lucus Bucht</option>
            <option value=”matchscouting”>Keyley Lawrence</option>
            <option value=”matchscouting”>Nicholas Sayan</option>
            <option value=”matchscouting”>Charles Hecker</option>
            <option value=”matchscouting”>Caleb Moesner</option>
            <option value=”matchscouting”>Siena Landerkin</option>
            <option value=”matchscouting”>Tristan Howell</option>
            <option value=”matchscouting”>Evan Larson</option>
            <option value=”matchscouting”>Matthew Simpson</option>
            <option value=”matchscouting”>Sam Wazenski</option>
            <option value=”matchscouting”>Micheal Webb</option>
            <option value=”matchscouting”>Elijah Davis</option>
            <option value=”matchscouting”>Sean McCabe</option>
            <option value=”matchscouting”>Kit Kellam</option>
            <option value=”matchscouting”>Max Maginnis</option>
            <option value=”matchscouting”>Robert Snell</option>
            <option value=”matchscouting”>Chad Grant</option>
            <option value=”matchscouting”>Logan Wise</option>
            <option value=”matchscouting”>Ryan BODE</option>
            <option value=”matchscouting”>Bryan Ha</option>
            <option value=”matchscouting”>Aiden McManus</option>
            <option value=”matchscouting”>Alexandra Konkel</option>
            <option value=”matchscouting”>Dulcey Comeau</option>
            <option value=”matchscouting”>Patrick Flynn</option>
            <option value=”matchscouting”>Jay Donyinah</option>
            <option value=”matchscouting”>Kate Greenhill</option>
            <option value=”matchscouting”>Ryan Rich</option>
            <option value=”matchscouting”>Aeryn Robinson</option>
            <option value=”matchscouting”>Nicholas DiNicolo</option>
            <option value=”matchscouting”>Sadie Ceryes</option>
            <option value=”matchscouting”>Matthew Studgeon</option>
            <option value=”matchscouting”>Logan Bechtel</option>
            <option value=”matchscouting”>Caroline Keller</option>

    </body>
</html>